/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 110%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    background: url("../images/shopping-cart-image-edited.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: orangered;
    font-weight: 200;
    padding: 2rem;
    margin: 0rem;
    font-family: 'Raleway', bold sans-serif;
    float: none;
}

header,
section,
footer {
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    font-size: 100%;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

header {
    background-color: orangered;
    border-color: orangered;
    border-radius: 1px;
    border-style: none;
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    padding: .5rem 2rem;
    text-align: center;
    text-shadow: none;
    width: 20rem;
}

header h1 {
    text-transform: uppercase;
    margin-top: 3px;
    padding-top: 20px;
    font-size: 48px;
    margin-bottom: 10px;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

section {
    margin-top: 0;
    padding: 5px 5px 5px 15px;
    text-align: right;
    list-style: none;
}

section .container {
    text-align: center;
    margin: 0 auto;
    font-family: 'Shadows Into Light', bold, cursive;
}

section .container .column {
    display: inline-block;
    width: auto;
}

section .container .column button,
section .container .column input {
    height: 41px;
    width: 176px;
    background: beige;
    font-size: 19px;
    border: 3px solid;
    border-radius: 11px;
    padding: -1px 5px 7px 10px;
}

section .container .column button:hover {}

section .container ul {
    list-style-type: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-image: url("../images/transparent.jpg");
}

section .container ul li {
    list-style-type: none;
    padding-left: 12px;
    text-align: left;
}

section .container ul li.checked,
section .container ul li.trash {
    vertical-align: middle;
}

section .container ul li.checked {
    background-color: beige;
    text-decoration: line-through;
}

section .container ul li .trash {
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer button {
    background-color: orangered;
    border-color: orangered;
    border-radius: 7px;
    border-style: none;
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.2rem 1.5rem;
    text-align: center;
    text-shadow: none;
    width: 18rem;
}

footer button:hover {
    border: 2px solid black;
}


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/
